body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e8ecf2;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #111;
}

h1, h2, h3, p, li, table {
  margin-left: 4%;
}

h1, h2, h3{
  font-family: 'Roboto Mono', monospace;
}

h1 {
  margin-top: 0;
  font-size: 5em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.1em;
}

h3, span {
  text-decoration: underline;
  text-decoration-color: #ebf442;
}

a {
  text-decoration: none;
  border: 0;
  font-family: 'Roboto Mono', monospace;
  color: #111;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

a:hover, thead {
  background-color: #ebf442;
}

table {
  width: 15%;
}

#header {
  margin-top: 4%;
  background-color: #e8ecf2;
  min-height: 100vh;
}

#icons {
  text-align: center;
}

#content {
  margin-top: 4%;
  background: #e8ecf2;
  background: -moz-linear-gradient(top, #e8ecf2, #e9e7f1, #f0e7f1, #f1e7e7);
  background: linear-gradient(to bottom, #e8ecf2,#e9e7f1,#f0e7f1,#f1e7e7);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ecf2', endColorstr='#f1f0e7',GradientType=0 );
}

#holamundo{
  margin-top: 4%;
  height: 100vh;
}

#sprint2{
  height: 100vh;
}

#sprint3{
  height: 100vh;
}

#sprint4{
  height: 100vh;
}
